flows.json
[{"id":"48397c96.a36d04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d6de13e2.73ee28","type":"function","z":"48397c96.a36d04","name":"PreToken","func":"global.set(\"c\",msg.payload.c);\nglobal.set(\"bfs\",msg.payload.bfs);\nglobal.set(\"fa\",msg.payload.fa);\nglobal.set(\"w\",msg.payload.w);\nglobal.set(\"sp\",msg.payload.sp);\nglobal.set(\"ca\",msg.payload.ca);\nglobal.set(\"fagg\",msg.payload.fagg);\nglobal.set(\"age\",msg.payload.age);\nvar apikey=\"X6QKvNwgQn9PTICZnrnG4S7ppO-FD-gGHjyHoJcsil9c\";\nmsg.headers={\"Content-Type\": \"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":282,"y":320,"wires":[["81fba4aa.83053"]]},{"id":"81fba4aa.83053","type":"http request","z":"48397c96.a36d04","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":481,"y":308.9999952316284,"wires":[["752ec16a.0ef688"]]},{"id":"afe95cec.d274f","type":"debug","z":"48397c96.a36d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920.0000114440918,"y":50.99999713897705,"wires":[]},{"id":"752ec16a.0ef688","type":"function","z":"48397c96.a36d04","name":"Pre Prediction","func":"var c = global.get('c')\nvar bfs = global.get('bfs')\nvar fa = global.get('fa')\nvar w = global.get('w')\nvar sp = global.get('sp')\nvar ca = global.get('ca')\nvar fagg = global.get('fagg')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"16308b65-feb7-462b-9f27-20fede6f97ce\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"], \"values\": [[c,bfs,fa,w,sp,ca,fagg,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":678.0000076293945,"y":271.9999990463257,"wires":[["5c1db0af.ebc98"]]},{"id":"5c1db0af.ebc98","type":"http request","z":"48397c96.a36d04","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/faace2d6-a213-427a-a08f-6dda25790343/predictions","tls":"","persist":false,"proxy":"","authType":"","x":771.5000076293945,"y":215.99999904632568,"wires":[["b7249bc9.5b477","afe95cec.d274f"]]},{"id":"6c49cfe2.533ba","type":"ui_form","z":"48397c96.a36d04","name":"","label":"","group":"5f2e4ef4.3c7cd","order":1,"width":0,"height":0,"options":[{"label":"Cement (component 1)(kg in a m^3 mixture)","value":"c","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag (component 2)(kg in a m^3 mixture)","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash (component 3)(kg in a m^3 mixture)","value":"fa","type":"number","required":true,"rows":null},{"label":"Water  (component 4)(kg in a m^3 mixture)","value":"w","type":"number","required":true,"rows":null},{"label":"Superplasticizer (component 5)(kg in a m^3 mixture)","value":"sp","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate  (component 6)(kg in a m^3 mixture)","value":"ca","type":"number","required":true,"rows":null},{"label":"Fine Aggregate (component 7)(kg in a m^3 mixture)","value":"fagg","type":"number","required":true,"rows":null},{"label":"Age (day)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"c":"","bfs":"","fa":"","w":"","sp":"","ca":"","fagg":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":73,"y":362.9999952316284,"wires":[["d6de13e2.73ee28"]]},{"id":"d6f0179a.2c1278","type":"ui_text","z":"48397c96.a36d04","group":"5f2e4ef4.3c7cd","order":2,"width":0,"height":0,"name":"","label":"Concrete compressive strength","format":"{{msg.payload}}","layout":"row-spread","x":879.6000366210938,"y":368.20000743865967,"wires":[]},{"id":"b7249bc9.5b477","type":"function","z":"48397c96.a36d04","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":631.6000366210938,"y":111.60000133514404,"wires":[["d6f0179a.2c1278"]]},{"id":"5f2e4ef4.3c7cd","type":"ui_group","z":"","name":"Predicting Compressive Strength Of Concrete","tab":"ceae2b26.c006f8","order":1,"disp":true,"width":"9","collapse":false},{"id":"ceae2b26.c006f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]